[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nani786
[access "refs/for/refs/*"]
	read = group user/nani786
	push = group user/nani786
	label-Code-Review = -2..+2 group user/nani786
	label-Verified = -1..+1 group user/nani786
	rebase = group user/nani786
	removeReviewer = group user/nani786
	submit = group user/nani786
[access "refs/heads/*"]
	read = group user/nani786
	create = group user/nani786
	push = +force group user/nani786
	pushMerge = group user/nani786
[access "refs/tags/*"]
	push = group user/nani786
	push = +force group user/nani786
